#game-board{
    width: 603px;
    height: 600px;
    border: solid 2px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(6, 19, 199, 0.3);
    display: grid;
}

.linha{
    height: 200px;
    border-bottom: solid 1px;

    /* testar quando tiver algo nas linhas!
    text-align: center;
    font-size: 3rem; */
}

.casa{
    border-right: solid 1px;
    width: 200px;
    height: 100%;
    float: right;
}